<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Comptes</title>
    <link rel="stylesheet" href="index.css">
  </head>
  <body>
    <h1>Comptes</h1>

    <div id ="app">
      <ul>
        <li v-for="account in assetAccounts">
          <a href="#" v-on:click='showThransactions(account.id)'>{{account.name}} : {{account.balance}} €</a>
        </li>
      </ul>

      <div v-if="displayTransactions">
        <h2>Transactions</h2>

        <table>
          <tr class="table_header">
            <th>Date</th>
            <th>Libellé</th>
            <th>Montant</th>
          </tr>
          <tr v-for="t in transactions">
            <td>{{t.date}}</td>
            <td>{{t.description}}</td>
            <td class="transaction_amount">{{format(t.amount)}} €</td>
          </tr>
        </table>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="index.js"></script>
  </body>
</html>
